:root {
  /* Color Variables */
  --yellow-hover-color: rgb(246, 208, 126);
  --pink-highlight-color: rgb(255, 203, 250);
  --header-footer-bg: rgba(204, 204, 204, 0.5);
  --login-button-bg: #ff96de;
  --login-button-hover-bg: #ff73ef;
  --alert-success-bg: rgb(114, 216, 107);
  --alert-error-bg: rgb(140, 134, 134);
  --lighter-font-color: #333;
  --tag-read-button-bg: #f2f2f2e2;

  --edit-button-bg: rgb(117, 193, 223, 0.89);
  --edit-button-hover-bg: rgb(147, 212, 255);
  --delete-button-bg: rgb(232, 102, 92, 0.89);
  --delete-button-hover-bg: rgb(249, 49, 49);

  --search-button-bg: rgb(125, 186, 208);
  --search-button-hover-bg: rgb(101, 159, 220);

  --choose-button-bg: rgb(251, 183, 81);
  --choose-button-hover-bg: rgb(247, 151, 7);

  --headline-bg: rgba(255, 255, 255, 0.89);
  --slide-container-bg: rgba(196, 164, 191, 0.53);

  --font-color: #000000;

  /* Padding */
  --main-padding: 20px;
  --other-main-padding: 10px;
  --other-padding: 16px;
  --extra-extra-small-padding: 5px;
  --extra-small-padding: 6px 9px;
  --small-padding: 8px 10px;
  --medium-padding: 10px 20px;
  --large-padding: 12px 24px;
  --extra-large-padding: 24px;
  /* Different names?*/

  /* Font Sizes */
  --font-size-xxs: 16px;
  --font-size-xs: 18px;
  --font-size-sm: 20px;
  --font-size-md: 24px;
  --font-size-l: 28px;
  --font-size-lg: 32px;
  --font-size-xl: 40px;
  --font-size-xxl: 52px;
}

body {
  font-family: "Montserrat", sans-serif;
  background-size: cover;
}

#homeBody {
  background-image: url(/assets/images/bg.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

#registerBody,
#loginBody {
  background-image: url(/assets/images/background-serena.webp);
}

#postBody,
#editBody,
#createBody {
  background-image: url(/assets/images/beach-water.webp);
}

#editBody .post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

/* Header */
header {
  background-color: var(--header-footer-bg);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: var(--small-padding);
  border-radius: 3px;
  color: var(--font-color);
  max-height: 100px;
}

.logo img,
footer img {
  height: auto;
  width: 200px;
  border-radius: 60%;
  padding: var(--small-padding);
}

#home-header {
  display: flex;
  justify-content: center;
  padding: var(--other-main-padding);
  background-color: var(--header-footer-bg);
}

.headline {
  display: flex;
  align-items: center;
  max-width: 90vw;
  background-color: var(--headline-bg);
  padding: var(--main-padding);
  border-radius: 5px;
  box-shadow: 0 4px px rgba(0, 0, 0, 0.1);
}

.headline .column {
  flex: 1;
  padding: var(--main-padding);
}

.headline img {
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
}

.headline h1,
#editBody h1 {
  font-size: var(--font-size-xxl);
  margin-bottom: 0.5rem;
  color: var(--lighter-font-color);
  margin-top: 0;
  font-weight: 800;
  padding: 0.5rem;
}

.headline p {
  font-size: var(--font-size-md);
  font-weight: 400;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  padding: var(--large-padding);
  margin-bottom: 1rem;
}

.gallery img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Carousel */
#latestPostCarousel {
  position: relative;
  margin: 1rem auto;
  overflow: hidden;
  width: 100%;
}

.slides-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: var(--slide-container-bg);
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  scroll-behavior: smooth;
}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  transition-delay: 200ms;
}

.slide li {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
}

.slide img {
  max-width: 100%;
  max-height: 50vh;
  width: auto;
  height: auto;
}

.slide-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: var(--lighter-font-color);
  border: none;
  width: 3rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  user-select: none;
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slideArrowPrev {
  left: 1rem;
  border-radius: 2rem 0 0 2rem;
}

#slideArrowNext {
  right: 1rem;
  border-radius: 0 2rem 2rem 0;
}

/* Sort */
#sortByDate {
  box-sizing: border-box;
}

#sortByDate ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#sortByDate a {
  text-decoration: none;
}

.dropdown-sort {
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  margin: 1rem;
  background: rgba(255, 255, 255, 0.088);
  width: 100px;
  cursor: pointer;
  border-radius: 10px;
}

.dropdown-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--small-padding);
  font-size: var(--font-size-md);
  font-weight: 600;
  color: var(--font-color);
  background: rgba(255, 255, 255, 0.575);
  border-radius: 4px;
  transition: background 0.3s;
}

.dropdown-title:hover,
.sort-opt li:hover {
  background: var(--pink-highlight-color);
}

.dropdown-title span {
  transition: transform 0.3s;
  display: flex;
  align-items: center;
}

.dropdown-title span i {
  transform: translateY(3px); /* Adjust this value to move the icon up */
}

.sort-opt {
  height: auto;
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
}

.sort-opt li {
  font-size: var(--font-size-xxs);
  font-weight: 500;
  padding: var(--medium-padding);
  border-top: 2px solid var(--pink-highlight-color);
  transition: background 0.3s;
}

.dropdown-sort.closed .sort-opt {
  max-height: 0;
}

.dropdown-sort .sort-opt {
  max-height: 200px; /* Adjust based on number of items */
  overflow: hidden;
}

.dropdown-sort.closed .dropdown-title span {
  transform: rotate(180deg);
}

/* Tags */

.tags-container {
  min-height: 100px;
  max-height: 100px;
  overflow-y: auto;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px;
}

.tag {
  background-color: var(--tag-read-button-bg);
  color: var(--lighter-font-color);
  border: none;
  border-radius: 10px;
  padding: var(--small-padding);
  font-weight: 400;
  margin: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  white-space: nowrap; /* Prevent tags from breaking into multiple lines */
}

/* Buttons */
.filter-buttons,
.more-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: var(--main-padding);
}

.filter-buttons .tag,
.read-more {
  background-color: var(--tag-read-button-bg);
  color: var(--lighter-font-color);
  border: none;
  border-radius: 20px;
  padding: var(--large-padding);
  font-size: var(--font-size-sm);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.read-more:hover {
  background-color: var(--yellow-hover-color);
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.filter-buttons .tag:hover {
  background-color: var(--pink-highlight-color);
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.grid-post .tag:hover,
.main-post .tag:hover {
  background-color: var(--tag-read-button-bg);
  color: var(--lighter-font-color);
}

.grid-post .tag,
.main-post .tag {
  pointer-events: none;
}

.edit-post {
  background-color: var(--edit-button-bg);
  color: var(--lighter-font-color);
  border: none;
  border-radius: 20px;
  padding: var(--large-padding);
  font-size: var(--font-size-sm);
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.edit-post:hover {
  background-color: var(--edit-button-hover-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.delete-post {
  background-color: var(--delete-button-bg);
  color: var(--lighter-font-color);
  border: none;
  border-radius: 20px;
  padding: var(--extra-small-padding);
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-transform: uppercase;
}

.delete-post:hover {
  background-color: var(--delete-button-hover-bg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.search-button {
  background-color: var(--search-button-bg);
  color: var(--font-color);
  font-size: var(--font-size-xxs);
  margin: 0;
  padding: var(--other-main-padding);
}

.search-button:hover {
  background-color: var(--search-button-hover-bg);
  transform: translateY(-2px);
}

.search-button i {
  margin-left: 8px;
}

button {
  padding: var(--large-padding);
  background-color: var(--pink-highlight-color);
  color: var(--font-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: var(--font-size-sm);
  font-weight: 600;
}

button:hover {
  background-color: var(--yellow-hover-color);
}

#editBody form button {
  background-color: var(--edit-button-bg);
}

#editBody form button:hover {
  background-color: var(--edit-button-hover-bg);
}

.logout-button {
  padding: var(--other-main-padding);
  font-size: var(--font-size-xxs);
  margin: 0;
}

.login-button {
  background-color: var(--login-button-bg);
}

.login-button:hover {
  background-color: var(--login-button-hover-bg);
}

.register-button {
  background-color: var(--pink-highlight-color);
  padding: var(--extra-small-padding);
}

.register-button:hover {
  background-color: var(--yellow-hover-color);
}

/* Post container */
.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 1rem;
  justify-content: center;
}

.grid-post {
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  height: 100%;
  box-sizing: border-box;
}

.grid-post img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  margin-bottom: 0.5rem;
}

.grid-post .post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-grow: 1; /* Ensure the content fills the remaining space */
  width: 100%;
  height: 100%;
}

/* Contact */
#contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: var(--main-padding);
}

#contact h3 {
  padding-left: 1rem;
  font-size: var(--font-size-sm);
  font-weight: 600;
}

#homeBody form {
  background-image: url(/assets/images/beach-water.webp);
}

.contact-form,
.contact-image {
  flex: 1;
  min-width: 300px;
  padding: var(--main-padding);
}

.contact-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-top: 5rem;
}

/* Create headline*/
.create-headline {
  background-color: var(--yellow-hover-color);
  color: var(--lighter-font-color);
  padding: var(--extra-large-padding);
  margin: 1rem;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.create-headline h2 {
  margin: 0;
  font-size: var(--font-size-l);
  font-weight: 700;
}

/* Main Post ++ */
.main-post,
.body-after-login-container {
  max-width: 700px;
  margin: 3rem auto;
  padding: var(--extra-large-padding);
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  color: var(--lighter-font-color);
  line-height: 1.6;
  text-align: center;
}

.main-post img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  border-radius: 5px;
}

.post-info {
  max-width: 400px;
  margin: auto;
  padding: var(--main-padding);
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

.post-info .post-author {
  display: block;
  font-style: italic;
  color: #760e68;
  font-size: var(--font-size-xxs);
  margin-top: 5px;
  padding: var(--extra-extra-small-padding);
}

.post-info .post-date,
.main-post .post-date,
.date-carousel {
  display: block;
  color: #555;
  font-size: var(--font-size-xxs);
  padding: var(--extra-extra-small-padding);
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  background-color: #f8e4f5;
}

.main-post .post-title {
  font-size: var(--font-size-lg);
  font-weight: 700;
}

.main-post .post-text {
  padding: var(--other-padding);
  font-size: var(--font-size-sm);
}

.share-title {
  font-size: var(--font-size-sm);
  margin-bottom: 0rem;
  margin-top: 2rem;
  font-weight: 600;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.share-link {
  border: 1px solid #ced4da; /* Subtle border for the share input */
  padding: var(--other-main-padding); /* Padding matching form inputs */
  border-radius: 0.25rem; /* Rounded corners for input */
}

.copy-button {
  background-color: var(--yellow-hover-color);
  color: var(--lighter-font-color);
  border-radius: 4px;
  padding: var(--extra-small-padding);
  cursor: pointer;
  border: none;
  transition: background-color 0.3s ease-in-out;
  margin-left: 0.2rem;
  font-size: var(--font-size-sm);
  font-weight: 500;
}

.copy-button:hover {
  background-color: var(--choose-button-hover-bg);
}

.post-title-container,
#editBody .post-title-container {
  min-height: 60px;
  max-height: 60px;
}

.post-title {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: var(--font-size-sm);
}

/* Loader -- Somewhat based on https://css-loaders.com/spinner/ */
#loadingInd {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex; /* Default to hidden */
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.loader {
  width: 100px; /* Increased size */
  height: 100px; /* Ensures aspect-ratio */
  display: grid;
  -webkit-mask: conic-gradient(from 15deg, #0000, #000);
  animation: l26 1s infinite steps(12);
}

.loader,
.loader:before,
.loader:after {
  background: radial-gradient(
        closest-side at 50% 12.5%,
        var(--pink-highlight-color) 96%,
        #0000
      )
      50% 0/20% 80% repeat-y,
    radial-gradient(
        closest-side at 12.5% 50%,
        var(--pink-highlight-color) 96%,
        #0000
      )
      0 50%/80% 20% repeat-x;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  transform: rotate(30deg);
}

.loader:after {
  transform: rotate(60deg);
}

@keyframes l26 {
  100% {
    transform: rotate(1turn);
  }
}

/* Footer */
footer {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: var(--extra-large-padding);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  background-color: var(--header-footer-bg);
  padding: var(--other-padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.footer-nav ul {
  list-style: none;
  padding: var(--small-padding);
  display: flex;
}

nav a {
  text-decoration: none;
  color: var(--font-color);
}

/* Other forms */
form {
  display: flex;
  flex-direction: column;
  max-width: 475px;
  margin: 0 auto;
  background-color: #fff;
  padding: 3rem;
  border-radius: 8px;
  border: 1px solid rgb(214, 234, 246);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  justify-content: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea,
select {
  width: 100%;
  padding: var(--other-main-padding);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 0.8rem;
}

textarea {
  height: 150px;
}

form h1,
form h2 {
  margin: 0.5rem;
  text-align: center;
  font-size: var(--font-size-l);
  font-weight: 700;
}

.editFormHidden {
  display: none;
}

.greeting-message {
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: #2c3e50;
}

/* Container for navigation buttons */
.choose-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  background-color: rgba(254, 253, 253, 0.49);
  color: var(--font-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
}

.choose-container button {
  font-size: var(--font-size-sm);
  padding: var(--medium-padding);
  border: 1px solid grey;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--search-button-bg);
  color: var(--font-color);
  transition: background-color 0.3s;
}

.choose-container button:hover {
  background-color: var(--search-button-hover-bg);
}

/* Messages / Alerts */

.alert {
  padding: var(--other-padding);
  border-radius: 7px;
  font-size: var(--font-size-sm);
  color: var(--font-color);
  text-align: center;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 50%;
  max-width: 600px;
  opacity: 0;
  transition: opacity 0.3s;
}

.alert-success {
  background-color: var(--alert-success-bg);
}

.alert-error {
  background-color: var(--alert-error-bg);
}

.alert.show {
  opacity: 1;
}

/* Media Queries */

/* Smaller devices (phones, 600px and down) */
@media (max-width: 601px) {
  header,
  footer,
  #editBody {
    padding: var(--other-main-padding);
  }

  #homeBody .post-container {
    grid-template-columns: 1fr;
  }

  .headline {
    flex-direction: column;
    text-align: center;
  }

  .choose-container {
    flex-direction: column;
  }

  .read-more,
  .tag,
  .copy-button,
  .more-buttons,
  .filter-buttons .tag {
    font-size: var(--font-size-xxs);
    padding: var(--small-padding);
  }

  .post-title-container,
  #editBody .post-title-container {
    min-height: 0;
    max-height: 100%;
  }

  .choose-container button {
    width: 100%;
    margin-bottom: 10px;
  }

  #editBody .post-container {
    grid-template-columns: 1fr; /* 1 column on small screens */
  }
}

/* Medium devices (tablets, 601px to 992px) */
@media (min-width: 601px) and (max-width: 992px) {
  body {
    background-size: cover;
    background-position: bottom;
  }

  .post-title-container,
  #editBody .post-title-container {
    min-height: 90px;
    max-height: 90px;
  }

  header,
  footer,
  #editBody {
    padding: var(--main-padding);
  }

  .choose-container {
    flex-direction: column;
  }

  .post-container {
    grid-template-columns: 1fr;
  }

  #editBody .post-container {
    grid-template-columns: repeat(2, 1fr); /* 2 columns on medium screens */
  }

  .headline {
    flex-direction: column;
    text-align: center;
  }

  .headline img {
    margin-bottom: 20px;
  }

  .headline .column {
    padding: 0;
  }

  .read-more,
  .tag {
    font-size: var(--font-size-xs);
    padding: var(--medium-padding);
  }

  .choose-container button {
    width: 80%;
  }
}

/* Large devices (desktops, 993px and up) */
@media (min-width: 993px) and (max-width: 1200px){
  header,
  footer,
  #editBody {
    padding: var(--extra-large-padding);
  }

  .post-title-container,
  #editBody .post-title-container {
    min-height: 90px;
    max-height: 90px;
  }

  .choose-container button {
    width: 200px;
  }

  .headline h1 {
    margin-right: 2rem;
  }

  .headline p {
    margin-left: 0.5rem;
  }

}
