:root {
  --primary-color: rgb(164, 236, 212);
  --secondary-color: rgba(204, 204, 204, 0.5);
  --highlight-color: rgb(255, 203, 250);
  --error-color: rgb(140, 134, 134);
  --success-color: rgb(114, 216, 107);
  --header-bg: rgba(204, 204, 204, 0.5);
  --button-hover-bg: rgb(255, 203, 250);
  --login-button-bg: #ff96de;
  --login-button-hover-bg: #ff73ef;
  --register-button-bg: rgb(255, 203, 250);
  --register-button-hover-bg: #b4f3f7;
  --alert-success-bg: rgb(114, 216, 107);
  --alert-error-bg: rgb(140, 134, 134);
  --input-invalid-border: #eeb5bb;
  --input-valid-border: #28a745;
}

body {
  background-color: var(--primary-color);
  font-family: "Montserrat", sans-serif;
  background-image: url(/assets/images/DALL·E\ 2024-05-02\ 14.44.46\ -\ A\ realistic\ travel\ photo\ capturing\ the\ back\ of\ a\ girl\ walking\ through\ a\ vibrant\ spring\ field\ of\ flowers\ towards\ an\ ocean\ horizon\ at\ sunset.\ The\ sky\ ab.webp);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: hsla(180, 100%, 96%, 0.526);
}

#loginBody,
#registerBody {
  background-size: cover;
}

#editBody {
  background-image: url(/assets/images/beach-water.webp);
  background-color: #515457;
  background-size: cover;
}

#editBody .post-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  margin: 5rem;
  justify-content: center;
}

#createBody {
  background-image: url(/assets/images/beach-water.webp);
}

/* Header */

header {
  background-color: var(--header-bg);
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border-radius: 3px;
}

.logo {
  font-size: 36px;
  font-weight: 600;
  padding: 0.5rem;
}

nav a {
  text-decoration: none;
  color: black;
}

.headline {
  height: 250px;
}

.headline h1 {
  margin-top: 3rem;
}

.headline h2 {
  font-weight: 600;
}

.column {
  display: flex;
  flex-direction: column;
}

.column h1 {
  text-align: center;
  font-size: 70px;
  color: rgba(11, 10, 10, 0.8);
  margin-bottom: 0;
}

.column h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: rgba(11, 10, 10, 0.8);
  margin-top: 1rem;
}

/* Carousel */

#latestPostCarousel {
  position: relative;
  margin: 1rem auto;
  overflow: hidden;
  width: 100%;
}

.slides-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
  background-color: #c4a4bf88;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.5s ease-in-out;
  transition-delay: 200ms;
}

.slide li {
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.8);
}

.slide img {
  max-width: 100%;
  max-height: 50vh;
  width: auto;
  height: auto;
}

.slide-arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 4rem;
  background-color: white;
  border: none;
  width: 3rem;
  font-size: 3rem;
  padding: 0;
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 100ms;
  user-select: none;
  box-shadow: 5px 5px 5px -2px rgba(0, 0, 0, 0.5);
}

.slide-arrow:hover,
.slide-arrow:focus {
  opacity: 1;
}

#slideArrowPrev {
  left: 1rem;
  border-radius: 2rem 0 0 2rem;
}

#slideArrowNext {
  right: 1rem;
  border-radius: 0 2rem 2rem 0;
}

/* Sort */

#sortByDate {
  box-sizing: border-box;
}

#sortByDate ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#sortByDate a {
  text-decoration: none;
}

.dropdown-sort {
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  margin: 1rem;
  background: rgb(248, 248, 248);
  border: solid 2px rgb(222, 222, 222);
  width: 140px;
  cursor: pointer;
  border-radius: 10px;
}

.dropdown-title {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 10px;
}

.sort-opt {
  height: 114px;
}

.sort-opt li {
  font-size: 18px;
  font-weight: 500;
  padding: 14px 10px;
  border-top: solid 1px rgb(202, 202, 202);
}

.dropdown-sort.closed .sort-opt {
  height: 0px;
}
.dropdown-sort.closed .dropdown-title span {
  transform: rotate(180deg);
}

/* Grid Layout */

.filter-buttons,
.more-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  padding: 20px;
}

.country,
.read-more {
  background-color: #f2f2f2e2;
  color: #333;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.country:hover,
.read-more:hover {
  background-color: #f2d8efbc;
  color: #fff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.edit-post {
  background-color: #75c1dfe2;
  color: #333;
  border: none;
  border-radius: 20px;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.edit-post:hover {
  background-color: #93d4ff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.delete-post {
  background-color: #e8665ce2;
  color: #333;
  border: none;
  border-radius: 20px;
  padding: 7px 10px;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-transform: uppercase;
}

.delete-post:hover {
  background-color: #f93131;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.post-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  margin: 1rem;
  justify-content: center;
}

.grid-post {
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 4px;
  height: 100%; /* Ensure all grid posts have the same height */
  box-sizing: border-box;
}

.grid-post img {
  width: 100%;
  height: 300px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure images cover the area without distorting */
  margin-bottom: 0.5rem; /* Add margin for spacing */
}

.grid-post .post-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  flex-grow: 1; /* Ensure the content fills the remaining space */
  width: 100%;
  height: 100%; /* Make the content fill the height of the grid post */
}

#aboutBoxes,
#contact {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}

.box {
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 300px;
}

.box img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.box li {
  margin-bottom: 5px;
  font-size: 20px;
  list-style: none;
}

.box ul {
  padding-left: 0.25rem;
}

.box h3,
.box h4 {
  margin-top: 0;
}

#contact h2 {
  padding-left: 1rem;
  font-weight: 600;
}

#homeBody form {
  background-image: url(/assets/images/beach-water.webp);
}

.contact-form,
.contact-image {
  flex: 1;
  min-width: 300px;
  padding: 20px;
}

.contact-image img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

/* Main Post */

.main-post,
.body-after-login-container {
  max-width: 600px;
  margin: 3rem auto;
  padding: 1.5rem;
  background-color: #f8f9faf0;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #333;
  line-height: 1.6;
  text-align: center;
}

.main-post img {
  width: 80%;
  height: auto;
  object-fit: contain;
}

.post-img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  cursor: pointer;
}

.post-info {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  text-align: center;
}

.post-info .post-author {
  display: block;
  font-style: italic;
  color: #c396bc;
  font-size: 18px;
  margin-top: 5px;
  padding: 5px 0;
}

.post-info .post-date {
  display: block;
  color: #555;
  font-size: 18px;
  padding: 5px 0;
  margin-bottom: 1rem;
}

.post-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.post-country {
  color: #131212;
  font-size: 15px;
  margin-top: 1rem;
  background-color: #f8e4f5;
}

.tag {
  background-color: #f2f2f2e2;
  color: #333;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: 400;
  margin: 2px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.gallery {
  display: flex;
  justify-content: center;
}

.gallery img {
  width: 100vw;
}

/* Footer */
.footer-nav {
  background-color: var(--secondary-color);
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 4rem;
}

.footer-nav ul {
  list-style: none;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
}

/* Form */

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 3rem;
  border-radius: 8px;
  border: 1px solid rgb(214, 234, 246);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  justify-content: center;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  margin-bottom: 0.8rem;
}

textarea {
  height: 150px;
}

form h1 {
  margin: 0.5rem;
  text-align: center;
}

.editFormHidden {
  display: none;
}

/* Components?*/

button {
  padding: 10px 20px;
  background-color: var(--highlight-color);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  font-size: 16px;
  font-weight: 600;
}

button:hover {
  background-color: var(--button-hover-bg);
}

.login-button {
  background-color: var(--login-button-bg);
  padding: 10px 20px;
}

.login-button:hover {
  background-color: var(--login-button-hover-bg);
}

.register-button {
  background-color: var(--register-button-bg);
  padding: 5px 10px;
}

.register-button:hover {
  background-color: var(--register-button-hover-bg);
}

/* After logged in */

.greeting-message {
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
  color: #2c3e50;
}

/* Container for navigation buttons */
.choose-container {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: rgba(254, 253, 253, 0.49);
  color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  justify-content: space-around;
}

.choose-container button {
  font-size: 22px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #0f9cfb;
  color: white;
  transition: background-color 0.3s;
  width: 200px;
}

.choose-container button:hover {
  background-color: #8cbfe1;
}

/* Styles for login messages */
.login-message {
  font-size: 1em;
  text-align: center;
  color: red;
  margin-top: 20px;
}

/* Messages/ Alerts */
.alert {
  padding: 1rem;
  border-radius: 7px;
  font-size: 20px;
  color: white;
  text-align: center;
  position: fixed;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 50%;
  max-width: 600px;
  opacity: 0;
  transition: opacity 0.3s;
}

.alert-success {
  background-color: var(--alert-success-bg);
}

.alert-error {
  background-color: var(--alert-error-bg);
}

.alert.show {
  opacity: 1;
}

/* Media Queries */

@media (max-width: 768px) {
  .post-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 950px) {
  body {
    background-size: cover;
    background-position: bottom;
  }
}
